<!DOCTYPE html>
<html>
<head>
    <title>Motos</title>
</head>
<body>
    <h1>Lista de Motos</h1>
    <a href="/api/motos/new">Agregar Nueva Moto</a>
    <ul>
        <% motos.forEach(moto => { %>
            <li>
                <a href="/api/motos/<%= moto.id %>"><%= moto.marca %> - <%= moto.modelo %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
