<!DOCTYPE html>
<html>
<head>
    <title>Motos</title>
</head>
<body>
    <h1>Lista de Motos</h1>
    <% if (locals.session.isAuthenticated) { %>
        <a href="/motos/new">Agregar Nueva Moto</a>
    <% } %>
    <ul>

        <% if (locals.motos) { %>
            <% locals.motos.forEach(moto => { %>
                <li>
                    <a href="/motos/<%= moto.id %>"><%= moto.marca %> - <%= moto.modelo %></a>
                </li>
            <% }) %>
        <% } %>
    </ul>
    <p>¿Quieres registrarte? - <a href="/auth/register"> Volver </a></p>
</body>
</html>
